# <center>Basics</center>

## Let's write our first "Hello world!" program :)

- Run on interactive shell

- Run as python script

[Let's solve our first challenge!](https://www.hackerrank.com/challenges/py-hello-world)

In [1]:
print("Hello World!")

Hello World!

## Putting comments


![](images/comments.jpg)

> Code tells you how, comments should tell you why.

In [8]:
# this is a
# commment
# spanning
# multiple
# lines

In [9]:
'''
This 
is a 
multiline
comment!
'''

'\nThis \nis a \nmultiline\ncomment!\n'

In [ ]:
# 
"""

"""
'''

'''

## Literal constants

- Numbers
    - Integers
    - Floats
- Strings
    - Single quotes
    - Double quotes
    - Triple quotes
    - Escape sequences (\n, \t, \r)
    - Explicit line joining

## Kind of Primitives in Python

1. Integers
2. String
3. Float
4. Complex

In [10]:
a = 10

In [13]:
print(type(a))

<class 'int'>

In [14]:
a = 50

In [15]:
print(a)

50

In [16]:
b = 50

In [17]:
id(a)

10911968

In [18]:
id(b)

10911968

In [19]:
b = b+1

In [20]:
b

51

In [21]:
a

50

In [22]:
id(a) == id(b)

False

In [23]:
a = 10.5

In [24]:
print(type(a))

<class 'float'>

In [27]:
a = 'summer training'

In [28]:
print(type(a))

<class 'str'>

In [29]:
a = 5j

In [30]:
print(type(a))

<class 'complex'>

In [31]:
a = 5 + 10j

In [32]:
print(type(a))

<class 'complex'>

In [33]:
print(a)

(5+10j)

In [ ]:
a = 5+10j

In [14]:
"""
multi line
string
"""

'\nmulti line\nstring\n'

In [13]:
a = 10

In [15]:
print("Hello World !")

Hello World !

In [16]:
"Hello World!"

'Hello World!'

## Variables

A type of **identifier**.

Rules for naming identifiers:

- The first character of the identifier must be a letter of the alphabet (uppercase ASCII or lowercase ASCII or Unicode character) or an underscore (_).
    
- The rest of the identifier name can consist of letters (uppercase ASCII or lowercase ASCII or Unicode character), underscores (_) or digits (0-9).
    
- Identifier names are case-sensitive. For example, myname and myName are not the same. Note the lowercase n in the former and the uppercase N in the latter.
    
Examples of valid identifier names are i, name_2_3. 


Examples of invalid identifier names are 2things, this is spaced out, my-name and >a1b2_c3.

In [34]:
_a = 5

In [35]:
_a

5

In [36]:
_abc124 = 5

In [37]:
_abc124

5

In [38]:
_b_c = 5

In [39]:
_ = 5

In [40]:
_

5

In [19]:
_ = 10

In [20]:
print(_10)

10

## Data Types

Variables can hold values of different types called data types. 

The basic types:
- numbers
- strings

In [23]:
c = 10 + 5j + 20 + 5j

In [24]:
print(type(c))

<class 'complex'>

In [25]:
print(c)

(30+10j)

## Type Coersion

In [26]:
a = 10.1

In [27]:
print(int(a))

10

## Indentation

![](images/indent.jpg)

- Whitespace is important in Python. 

- Actually, whitespace at the beginning of the line is important. This is called indentation. 

- Leading whitespace (spaces and tabs) at the beginning of the logical line is used to determine the indentation level of  the logical line, which in turn is used to determine the grouping of statements.

- This means that statements which go together must have the same indentation. Each such set of statements is called a block.

## Issue with indentation

### Tabs vs spaces

![](images/tabs_vs_spaces.jpg)

### The solution...

![](images/usetabs.jpeg)

## Something more about print function...

- format method

- **end** and **sep**

In [41]:
first_name = "Bipin"
last_name = "Kalra"

In [42]:
#Mr. last_name, first_name

In [43]:
print("Mr. {}, {}".format(last_name,first_name))

Mr. Kalra, Bipin

In [46]:
print("this","is","summer","training", sep=",    ")

this,    is,    summer,    training

In [48]:
print("summer")
print("training")

summer
training

In [2]:
a = "bipin"
b = "kalra"

In [3]:
print("{}, {}".format(a,b))

bipin, kalra

In [51]:
print("bipin","kalra","is","here",sep=",",end="$")
print("bipin","kalra","is","here",sep=",")

bipin,kalra,is,here$bipin,kalra,is,here

In [7]:
##MARKDOWN

## Taking user input

- input() function

- concept of typecasting

In [49]:
a = input()

5

In [52]:
print(type(a))

<class 'str'>

In [53]:
a = int(input())

5

In [54]:
print(type(a))

<class 'int'>

In [55]:
a = 6777777777777777777777777777777777777758888888888888888888888888888888444444444444455555555533333333333333222222222

In [56]:
a

6777777777777777777777777777777777777758888888888888888888888888888888444444444444455555555533333333333333222222222

In [34]:
a = input()

5

In [35]:
print(type(a))

<class 'str'>