# Data structures

### This chapter is all about...
![](images/standard_ds.jpg)

### Some string operations first!
format, strip, split, replace, count...

In [54]:
import math

In [ ]:
import math

In [1]:
a = "bipin"

In [2]:
a[2] = "c"

TypeError: 'str' object does not support item assignment

In [3]:
b = "          This is Summer Training      in DTU      !!     "

In [4]:
print(b.strip())

This is Summer Training      in DTU      !!

In [8]:
b = "This is a Summer-Training in DTU!!"

In [9]:
c = b.split("-")

In [10]:
c

['This is a Summer', 'Training in DTU!!']

In [12]:
b = "This is a Summer Training in DTU!!"
d = b.split() #split function uses space as a delimiter by default
print(d)

['This', 'is', 'a', 'Summer', 'Training', 'in', 'DTU!!']

In [13]:
len(b)

34

In [14]:
a = "bipin" + "Kalra"

In [15]:
a

'bipinKalra'

In [16]:
a[::-1]

'arlaKnipib'

In [17]:
a[2:5]

'pin'

In [18]:
a[-4]

'a'

In [22]:
a[-2:-8:-1]

'rlaKni'

## 1. Lists

A list is a data structure that holds an ordered collection of items i.e. you can store a sequence of items in a list.


The list of items should be enclosed in square brackets so that Python understands that you are specifying a list. Once you have created a list, you can add, remove or search for items in the list. Since we can add and remove items, we say that a list is a mutable data type i.e. this type can be altered.

### Creating lists

In [23]:
a = [1,2,3,4]

In [24]:
print(type(a))

<class 'list'>

In [25]:
print(id(a))

140441606144840

In [26]:
print(id(a[0]))

10910400

In [27]:
a[3] = 78

In [28]:
a

[1, 2, 3, 78]

In [29]:
for i in a:
    print(i)

1
2
3
78

In [31]:
a[1:3]

[2, 3]

In [32]:
a[-1]

78

In [33]:
b = [1,2,4.67,"coding","summer",[3,5,6],(4,6,7)]

In [34]:
for i in b:
    print(i)

1
2
4.67
coding
summer
[3, 5, 6]
(4, 6, 7)

In [14]:
a = [1, 2, 3, 4]
print(a)

[1, 2, 3, 4]

In [11]:
print(id(a[0]))
print(id(a))

4322605120
4361406152

In [12]:
a[0] = 5

In [13]:
print(id(a[0]))
print(id(a))

4322605248
4361406152

In [5]:
print(a)

[5, 2, 3, 4]

In [15]:
a = "jatin"
print(a[0])

j

In [ ]:
a = ""

### Basic operations
![](images/list_oper.png)

### Lists are heterogenous

In [22]:
a = [1, 2, 3, 4] + [5, 6, 7, 8, "jatin", 1.5]

In [23]:
a.append([1, 2, 3, 4])

In [24]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 'jatin', 1.5, [1, 2, 3, 4]]

### Indexing and list slicing

![](images/indexing.png)

In [38]:
s = "jatin"
print(s[::-1])

nitaj

In [25]:
a = [1, 2, 3, 4, 5, 6]

In [31]:
s = slice(0,3)

In [44]:
print(a[::])

[6, 5, 4, 3, 2, 1]

In [39]:
a[-1]

6

### Updating the list

- insert

- append

In [35]:
a = [1,2,3,4]

In [37]:
a.append(45)

In [38]:
a

[1, 2, 3, 4, 45]

In [41]:
a.insert(2,(3,4,5))

In [42]:
a

[1, 2, (3, 4, 5), 67, 3, 4, 45]

In [43]:
a.insert(23)

TypeError: insert() takes exactly 2 arguments (1 given)

In [44]:
a = [2,3,4,5] + [2,3,4,5]

In [45]:
a

[2, 3, 4, 5, 2, 3, 4, 5]

In [45]:
a = [1, 2, 3, 4]

In [47]:
a.insert(3, 5)

In [48]:
a

[1, 2, 3, 5, 4]

In [49]:
a.append(7)

In [50]:
a

[1, 2, 3, 5, 4, 7]

### Deleting list elements

- del
- pop
- remove

In [46]:
a = [4,5,6,7,10,23]

In [48]:
a.remove(6)

In [49]:
a

[4, 5, 7, 10, 23]

In [50]:
a.pop()

23

In [51]:
a

[4, 5, 7, 10]

In [52]:
del b

In [53]:
b

NameError: name 'b' is not defined

In [56]:
a = [1, 2, 3, 100]

In [59]:
a.remove

In [60]:
b = 1

In [61]:
print(b)

1

In [62]:
del b

In [63]:
print(b)

NameError: name 'b' is not defined

In [64]:
a = [1, 2, 3, 4, 5]

In [65]:
del a[0]

In [66]:
a

[2, 3, 4, 5]

### Sorting and reversing

- sort and sorted

- reverse and reversed

In [63]:
a = [3,4,5,6,7,5,2,1,89,12,1,1]

In [64]:
sorted(a)

[1, 1, 1, 2, 3, 4, 5, 5, 6, 7, 12, 89]

In [65]:
a

[3, 4, 5, 6, 7, 5, 2, 1, 89, 12, 1, 1]

In [66]:
a.reverse()

In [67]:
a

[1, 1, 12, 89, 1, 2, 5, 7, 6, 5, 4, 3]

In [119]:
 del a

In [120]:
a

NameError: name 'a' is not defined

In [70]:
for i in reversed(a):
    print(i)

3
4
5
6
7
5
2
1
89
12
1
1

In [71]:
a

[1, 1, 12, 89, 1, 2, 5, 7, 6, 5, 4, 3]

In [56]:
a.sort()

In [57]:
a

[1, 1, 1, 2, 3, 4, 5, 5, 6, 7, 12, 89]

In [61]:
a.reverse()

In [62]:
a

[1, 1, 12, 89, 1, 2, 5, 7, 6, 5, 4, 3]

In [72]:
a = [5, 2,3, 4, 1, 2]

In [68]:
a.sort()

In [73]:
a

[5, 2, 3, 4, 1, 2]

In [74]:
sorted(a)

[1, 2, 2, 3, 4, 5]

In [77]:
a[::-1]

[2, 1, 4, 3, 2, 5]

### map, strip and split function (just some utilities when you input a list)

### Printing a list using join

### Challenges
[Lists](https://www.hackerrank.com/challenges/python-lists)

[Find second maximum number in a list](https://www.hackerrank.com/challenges/find-second-maximum-number-in-a-list/)

### And yeah, you can put a list in a list...
![](images/list_in_list.jpeg)

## 2. Tuples

Tuples are used to hold together multiple objects. Think of them as similar to lists, but without the extensive functionality that the list class gives you. One major feature of tuples is that they are immutable like strings i.e. you cannot modify tuples.


Tuples are defined by specifying items separated by commas within an optional pair of parentheses.


Tuples are usually used in cases where a statement or a user-defined function can safely assume that the collection of values i.e. the tuple of values used **will not change**.

In [72]:
a = ("jatin", "bipin", "mridul")

In [73]:
a[0] = "jatin2"

TypeError: 'tuple' object does not support item assignment

In [84]:
print(a[0])

jatin

### List to tuple and tuple to list...

In [74]:
a = [3,4,5,6,9,1]

In [76]:
a = tuple(a)

In [51]:
type(a)

dict

In [78]:
print(a)

(3, 4, 5, 6, 9, 1)

In [83]:
b = (3,4,5,6,7,9.5,"bipin",[3,4,5],("bipin","kalra"))

In [88]:
b[-1][1][4]

'a'

In [80]:
type(a)

tuple

In [81]:
b = list(b)

In [82]:
type(b)

list

In [92]:
a = [1, 2, 4, 5]

In [93]:
a = tuple(a)

In [94]:
print(type(a))

<class 'tuple'>

In [95]:
a = list(a)

In [96]:
print(type(a))

<class 'list'>

### Returning multiple values from functions (The returned thing is a tuple!)

### But...but I like Lists...

![](images/immutable.jpg)

- **Storage:** In CPython, tuples are stored in a single block of memory, so creating a new tuple involves at worst a single call to allocate memory. Lists are allocated in two blocks: the fixed one with all the Python object information and a variable sized block for the data. 

- **Indexing:** Tuples are faster than lists. Tuples directly reference their elements where as lists have an extra layer of indirection to an external array of pointers.

- **Safety:** It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that this data is constant, and that special thought (and a specific function) is required to override that.

In [91]:
"co" in "csgo"

False

**is operator**

### Challenge
[Tuples](https://www.hackerrank.com/challenges/python-tuples)

![](images/tuple.jpeg)

## 3. Dictionary

- A dictionary is like an address-book where you can find the address or contact details of a person by knowing only his/her name i.e. we associate keys (name) with values (details). Note that the key must be unique just like you cannot find out the correct information if you have two persons with the exact same name.

- Remember that key-value pairs in a dictionary are not ordered in any manner.

![](images/dict.png)

In [29]:
a = {
    "name" : "bipin",
    "gender" : "male",
    "marks" : 56
}

In [30]:
a

{'name': 'bipin', 'gender': 'male', 'marks': 56}

In [24]:
a = {
    "name" : "bipin",
    (1,2,3) : ["maths","science","c++"],
    "marks" : (1,45,36),
    "dict" : {
        "1" : "one",
        '2' :"two"
    }
}

In [25]:
a["abc"] = [1,2,3,4,4]

In [26]:
a

{'name': 'bipin',
 (1, 2, 3): ['maths', 'science', 'c++'],
 'marks': (1, 45, 36),
 'dict': {'1': 'one', '2': 'two'},
 'abc': [1, 2, 3, 4, 4]}

In [27]:
a["abc"] = 4

In [28]:
a

{'name': 'bipin',
 (1, 2, 3): ['maths', 'science', 'c++'],
 'marks': (1, 45, 36),
 'dict': {'1': 'one', '2': 'two'},
 'abc': 4}

In [29]:
key = input()

bipin

In [30]:
a[key] = input()

675

In [31]:
a

{'name': 'bipin',
 (1, 2, 3): ['maths', 'science', 'c++'],
 'marks': (1, 45, 36),
 'dict': {'1': 'one', '2': 'two'},
 'abc': 4,
 'bipin': '675'}

In [34]:
a["bipin"]

'675'

In [32]:
a[input()] = input()

45
56

In [33]:
a

{'name': 'bipin',
 (1, 2, 3): ['maths', 'science', 'c++'],
 'marks': (1, 45, 36),
 'dict': {'1': 'one', '2': 'two'},
 'abc': 4,
 'bipin': '675',
 '56': '45'}

In [4]:
a

{'name': 'bipin',
 (1, 2, 3): ['maths', 'science', 'c++'],
 'marks': (1, 45, 36),
 'dict': {'1': 'one', '2': 'two'}}

In [5]:
a[0]

KeyError: 0

In [8]:
a[(1,2,3)][0][1]

'a'

In [102]:
a = {
    (1, 2, 3): "jatin",
    "last_name": "katyal"
}

In [100]:
a[(1, 2, 3)]

'jatin'

In [121]:
a = {
    "name": "jatin",
    "last_name": "katyal",
    "marks": 99
}

### Some important dict methods

- get()
- items()
- keys()
- values()
- clear()

In [9]:
a.get("name")

'bipin'

In [11]:
from pprint import pprint

In [12]:
pprint(a.items())

dict_items([('name', 'bipin'), ((1, 2, 3), ['maths', 'science', 'c++']), ('marks', (1, 45, 36)), ('dict', {'1': 'one', '2': 'two'})])

In [14]:
for i in a.items():
    print(i)

('name', 'bipin')
((1, 2, 3), ['maths', 'science', 'c++'])
('marks', (1, 45, 36))
('dict', {'1': 'one', '2': 'two'})

In [15]:
for i in a:
    print(i)

name
(1, 2, 3)
marks
dict

In [16]:
for i in a.values():
    print(i)

bipin
['maths', 'science', 'c++']
(1, 45, 36)
{'1': 'one', '2': 'two'}

In [17]:
for i in a.keys():
    print(i)

name
(1, 2, 3)
marks
dict

In [55]:
a = {
    "name" : "bipin",
    "gender" : "male",
    "marks" : "fifty six"
}

In [56]:
a["name"] = "jatin"

In [58]:
a["name1"] = "jatin"

In [59]:
a

{'name': 'jatin', 'gender': 'male', 'marks': 'fifty six', 'name1': 'jatin'}

In [57]:
a

{'name': 'jatin', 'gender': 'male', 'marks': 'fifty six'}

In [22]:
for key,value in a.items():
    print(key + " points to " + value)

name points to bipin
gender points to male
marks points to fifty six

In [36]:
for x in a.items():
    print(x)

('name', 'bipin')
('gender', 'male')
('marks', 'fifty six')

In [37]:
for x in a.values():
    print(x)

bipin
male
fifty six

In [38]:
a

{'name': 'bipin', 'gender': 'male', 'marks': 'fifty six'}

In [48]:
a.clear()

In [40]:
a

{}

In [123]:
a['work_place'] = "coding blocks"

In [124]:
a

{'last_name': 'katyal',
 'marks': 99,
 'name': 'jatin',
 'work_place': 'coding blocks'}

### And yeah, keys of dict can be any immutable object, so...
<img src="images/dict_tuple.jpg" alt="sets_are_coming" style="width: 300px;"/>

### Challenge

Write a simple Python program which inputs and stores the data about university students as a list of dictioaries.
Your final record structure should look like this:

```
 [
     {
         'roll-no': 1211,
         'name': 'Ravi',
         'branch': 'CSE'
     },
     {
         'roll-no': 202,
         'name': 'Abhishek',
         'branch': 'SE'
     },
     {
         'roll-no': 1202,
         'name': 'Sachin',
         'branch': 'IT'
     }
 ]
 ```

In [125]:
n = 3

In [126]:
res = []
for i in range(n):
    roll = int(input())
    name = input()
    branch = input()
    d = {
        "roll": roll,
        "name": name,
        "branch": branch
    }
    
    res.append(d)

1
jatin
cse
2
bipin
it
3
mridul
eee

In [127]:
res

[{'branch': 'cse', 'name': 'jatin', 'roll': 1},
 {'branch': 'it', 'name': 'bipin', 'roll': 2},
 {'branch': 'eee', 'name': 'mridul', 'roll': 3}]

## 4. Sets

<img src="images/sets.jpg" alt="sets_are_coming" style="width:250px;"/>


Sets are unordered collections of simple objects. These are used when the existence of an object in a collection is more important than the order or how many times it occurs.


Using sets, you can test for membership, whether it is a subset of another set, find the intersection between two sets, and so on.

In [92]:
a = [4,5,6,2,1,3,1,1,5,5,6,4,3,2,1]

In [93]:
b = sorted(set(a))[-2]

In [94]:
b

5

In [95]:
print(set(a))

{1, 2, 3, 4, 5, 6}

In [96]:
a = {4,6,9,10,12,1}

In [98]:
b = {1,2,3,4,5,6}

In [99]:
a.intersection(b)

{1, 4, 6}

In [100]:
a.union(b)

{1, 2, 3, 4, 5, 6, 9, 10, 12}

In [101]:
a - b

{9, 10, 12}

In [102]:
b = {4}

In [128]:
a = {1, 2, 3}

In [129]:
b = {2, 3, 4}

In [130]:
print(type(a))

<class 'set'>

In [132]:
a.intersection(b)

{2, 3}

In [133]:
a - b

{1}

In [103]:
a = ["b","i","p","i","n"]

In [108]:
"".join(a)

'bipin'

In [111]:
print([[i*j for j in range(1,11)] for i in range(1,11)])

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [112]:
print((i for i in range(0,10)))

<generator object <genexpr> at 0x7fbb1c0d7990>

In [113]:
b = (i for i in range(0,10))

In [116]:
for i in b:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [117]:
a = {i for i in range(0,5)}

In [118]:
a

{0, 1, 2, 3, 4}

args, kwargs and call by object

### Ok...let's end this chapter right here but your tryst with data structures has just begun !!!

![](images/ds.jpg)

## List Comprehension

In [143]:
a = [ [ i*j for j in range(1, 11) ] for i in range(1, 11)]
print(a)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [ ]:
a = []
for i in range(1, 11):
    b = []
    for j in range(1, 11):
        b.append(j)
    a.append(i)

In [137]:
a = { i:i**2 for i in range(1, 11) }

In [138]:
a

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [139]:
a = { i for i in range(1, 11) }

In [140]:
a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [1]:
row = [" "]*3

In [2]:
row

[' ', ' ', ' ']

In [3]:
board = [row]*3

In [4]:
board

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [5]:
board[0][0] = "x"

In [6]:
board

[['x', ' ', ' '], ['x', ' ', ' '], ['x', ' ', ' ']]

In [7]:
row = (" ")*3

In [11]:
board = (row*3)

In [15]:
row = (' ',' ',' ')

In [16]:
row

(' ', ' ', ' ')

In [17]:
board = (row, row, row)

In [18]:
board

((' ', ' ', ' '), (' ', ' ', ' '), (' ', ' ', ' '))

In [19]:
board[0][0] = "x"

TypeError: 'tuple' object does not support item assignment

In [145]:
board = [row]*3

In [146]:
board

[[' ', ' ', ' '], [' ', ' ', ' '], [' ', ' ', ' ']]

In [147]:
board[0][0] = 'X'

In [148]:
board

[['X', ' ', ' '], ['X', ' ', ' '], ['X', ' ', ' ']]

In [24]:
a = [4,5,6]

In [25]:
b = a.copy()

In [26]:
id(a) == id(b)

False

In [27]:
a[2] = 45

In [28]:
b

[4, 5, 6]

In [149]:
board[0] is board[1]

True

In [162]:
a = [100000, 2, 3, 4]

In [163]:
b = a.copy()

In [164]:
a[0] is b[0]

True

In [165]:
a, b = 1, 2

In [166]:
a, b = b, a